*.pyc
*.sqlite3
*.swp
*~
*.vscode
venv*
*.log
*.json
*.sql
static_files
mysql

.DS_Store
node_modules
/dist
/frontend/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
local_settings.py
.idea

# Django production files
/static