Django==2.1.5
django-cors-headers==2.5.2
django-debug-toolbar==1.11
djangorestframework==3.9.2
Faker==1.0.4
mysqlclient==1.4.2.post1
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
django-rest-swagger==2.2.0
python-memcached==1.59
